{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Forec- Rules{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>Read the Rules</h1>
</div>
<div class="col-md-10">
  <h2> These rules limit your right to use the code </h2>
  <p>All the codes will be put on the github several months later, only for learn and personal use.</p>
  <p>The repository can be downloaded from <a href="http://github.com/forec"> Forec </a></p>
  <p>Any questions, errors, or you want to use the code in commerce, contact <a href="mailto:forec@bupt.edu.cn">here</a></p>
</div>
{% endblock %}
