<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Forec's test website</b>!</p>
<p>To change your email address, please <a href="{{ url_for('auth.confirm_email_change', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm_email_change', token=token, _external=True) }}</p>
<p>The link above is valid in an hour, once you miss the period, you need to ask us to resend you a confirm email. To resend, went to our page and login, choose the profile page, you will see that button.</p>
<p>However, if you didn't visit our website, please just ignore this mail.</p>
<p>Sincerely,</p>
<p>Forec</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
